@import "mixins.scss";
@import "variables.scss";

*,
*::before,
*::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: $main-font-family, "sans-serif";
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    color: $text-color;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.inner-wrap {
    max-width: $inner-wrap-width;
    margin: 0 auto;
    display: flex;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 65%;
}

.container {
    padding: toRem(40) 0;
}

ion-icon {
    pointer-events: none;
}

/**
 * Header
*/
#header {
    .inner-wrap {
        align-items: center;
        padding: toRem(25) 0;
    }
    nav {
        ul {
            margin: 0;
            padding: 0;

            > li {
                display: inline-block;
                margin-right: toRem(10);

                > a {
                    display: block;
                    font-size: $nav-menu-font-size;
                    font-weight: $nav-menu-font-weight;
                    font-family: $nav-menu-font-family;
                    color: rgba($nav-menu-color, 0.5);
                    transition: color 0.15s ease-in;
                    padding: toRem(10);

                    &:hover {
                        color: $nav-menu-color;
                    }
                    &.active {
                        color: $nav-menu-color;
                    }
                }
                &:first-child > a {
                    padding-left: 0;
                }
            }
        }
    }
    #search-form {
        margin-left: auto;
        position: relative;

        label[for="search-form__input"] {
            position: relative;
            display: block;

            .search-form__input-icon {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);

                ion-icon {
                    color: $search-form-color;
                    font-size: 20px;
                }
            }
            .search-form__input-clear {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba($search-form-color, 0.08);
                border-radius: 50%;
                padding: 3px;
                width: 16px;
                height: 16px;
                cursor: pointer;
                transition: background-color .15s ease;

                &:hover {
                    background-color: rgba($search-form-color, 0.15);
                }
                ion-icon {
                    color: $search-form-color;
                }
            }
        }

        input {
            background-color: $search-form-background;
            color: $search-form-color;
            font-size: toRem(14);
            box-shadow: none;
            border: 1px solid transparent;
            outline: 0;
            border-radius: 5px;
            padding: 5px;
            padding-left: 40px;
            height: 30px;
            width: 150px;
            transition: width .25s linear;

            &:focus::placeholder {
                color: transparent;
            }
            &:focus {
                width: 305px;
            }
        }
        ::placeholder {
            font-family: $main-font-family;
            font-size: toRem(14);
            opacity: 1; /* Firefox */
        }
    }
}

/**
 * Global styles for all article elements
*/
#research-articles {
    article {
        position: relative;
        padding: $article-padding-top-bottom $article-padding-left-right;
        overflow: hidden;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        color: $article-content-color;
        height: 425px; /* fixed height */
        transition: transform 0.25s linear;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .article__overlay-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(28, 58, 82, 0) 32.25%,
                #05141b 74.52%
            );
            opacity: 0.5;
            transition: opacity 0.15s ease-in-out;
        }

        .research__related-label {
            position: absolute;
            left: $article-padding-left-right;
            top: $article-padding-top-bottom;
            border-radius: 30px;
            color: #ffffff;
            border: 1px solid;
            padding: 5px 15px;
            font-size: toRem(10);
            font-weight: $font-weight-medium;
            z-index: 5;
            cursor: pointer;
            transition: background-color .15s ease-in, color .15s ease-in, border-color .15s linear;

            &:hover {
                background-color: #ffffff;
                color: #05141b;
                border-color: rgba(#05141b, 0.5);
            }
        }
        .research__latest-label {
            position: absolute;
            top: $article-padding-top-bottom;
            right: $article-padding-left-right;
            background-color: #b73556;
            color: #ffffff;
            font-size: toRem(8);
            letter-spacing: 0.06em;
            text-transform: uppercase;
            padding: 5px 8px;
            line-height: 1.4;
            font-weight: $font-weight-bold;
        }

        .article__title,
        .article__summary,
        .article__footer {
            z-index: 1;
        }
        .article__title {
            position: relative;
            margin-top: auto;
            font-size: $article-title-font-size;
            line-height: 1.4;
            margin-bottom: toRem(15);
        }
        .article__summary {
            font-size: $article-summary-font-size;
            line-height: 1.8;
            margin-bottom: toRem(30);
            color: rgba($article-content-color, 0.5);
        }
        .article__footer {
            position: relative;
            font-size: $article-footer-font-size;
            color: rgba($article-content-color, 0.5);

            .article__read-more {
                position: relative;
                display: inline-block;
                color: $article-content-color;
                font-weight: $font-weight-bold;
                padding-right: 17px;
                margin-right: 17px;

                ion-icon {
                    color: inherit;
                    font-size: toRem(14);
                    vertical-align: bottom;
                    margin-right: 5px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: rgba($article-content-color, 0.08);
                    right: 0;
                    top: 0;
                }
            }
        }

        &:hover {
            transform: translateY(-10px);

            &::before {
                opacity: 0.85;
            }
        }

        .article__add-to-bookmark {
            position: absolute;
            right: $article-padding-left-right;
            bottom: calc($article-padding-top-bottom - 12px);
            background-color: transparent;
            border: none;
            opacity: 0.5;
            padding: 7px;
            padding-right: 0;
            cursor: pointer;
            transition: opacity 0.15s ease-in-out;
            z-index: 9;

            &.is-added-to-bookmarks,
            &:hover {
                opacity: 1;
            }
            ion-icon {
                --ionicon-stroke-width: 64px;
                color: $article-content-color;
                font-size: $main-font-size;
                font-weight: bold;
            }
        }
    }

    // Skeleton loading
    article.is-article-skeleton-loading {
      &::before {
        background: rgba($loading-background-color, 0.15);
      }

      .research__related-label,
      .research__latest-label {
        background-color: transparent;
        border-color: transparent;
        > span[aria-live="polite"] {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .research__latest-label > span[aria-live="polite"] {
        left: auto;
        right: 0;
      }

      .article__read-more {
        &::before {
          display: none;
        }
      }
    }
}

/**
 * Latest research
*/
#latest-research {
    flex: 1 1 35%;

    article {
        height: 630px; /* fixed height */
        margin-right: calc(#{$article-space-between} * 3);
        margin-top: $article-space-between;
    }
}

/**
 * Latest news
*/
#latest-news {
    flex: 1 1 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -#{$article-space-between};
    margin-right: -#{$article-space-between};

    &.has-no-posts-items {
        margin-left: 0;
        margin-right: 0;
    }
}
.content-wrapper #latest-news {
    flex: 0;
}

/**
 * Pagination
*/
#latest-news-pagination {
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgba($text-color, 0.25);
    font-size: toRem(12);
    display: flex;
    align-items: center;
    width: 100%;

    .pagination__current-page {
        display: inline-block;
        strong {
            color: $text-color;
            margin-right: toRem(5);
        }
    }
    .pagination__prev-page,
    .pagination__next-page {
        display: inline-block;
        color: $pagination-button-color;
        background-color: $pagination-button-background;
        text-transform: uppercase;
        font-size: toRem(10);
        font-weight: $font-weight-bold;
        padding: 10px;
        width: 120px;
        border-radius: 30px;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-right: toRem(10);
        transition: color 0.15s ease-in, background-color 0.15s ease-in;

        &:hover {
            background-color: $search-form-background;
            color: $search-form-color;
        }
    }
    button:first-of-type {
        margin-left: auto;
    }
    button:last-of-type {
        margin-right: 0;
    }
}

@import "media-queries.scss";
