@media screen and (min-width: 792px) {
    #latest-news {
        article {
            margin: $article-space-between;
            flex: 0 1
                calc(
                    (100% / 2) - (#{$article-padding-left-right} * 2) -
                        (#{$article-space-between} * 2)
                );
        }
    }
}

@media screen and (min-width: 1140px) {
    #latest-news {
        article {
            flex: 0 1
                calc(
                    (100% / 3) - (#{$article-padding-left-right} * 2) -
                        (#{$article-space-between} * 2)
                );
        }
    }
}

@media screen and (max-width: 1440px) {
    .inner-wrap {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 791px) {
    .inner-wrap {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content-wrapper {
        flex: 1 1 100%;
    }
    #latest-research {
        flex: 1 1 100%;
        article {
            margin: 0;
        }
    }
    #latest-news {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    #research-articles {
        article {
            margin-bottom: calc(#{$article-space-between} * 2);
            height: 425px;
            &:hover {
                transform: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #header {
        .inner-wrap {
            padding-top: 0;
        }
    }
}
