@media screen and (min-width: 600px) {
    #latest-news {
        article {
            margin: $article-space-between;
            flex: 1 1
                calc(
                    (100% / 2) - (#{$article-padding-left-right} * 2) -
                        (#{$article-space-between} * 2)
                );
            &:nth-child(2n + 1) {
                margin-left: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width: 1140px) {
    #latest-news {
        article {
            flex: 1 1
                calc(
                    (100% / 3) - (#{$article-padding-left-right} * 2) -
                        (#{$article-space-between} * 2)
                );
            &:nth-child(2n + 1) {
                margin-left: $article-space-between;
            }
            &:nth-child(2n) {
                margin-right: $article-space-between;
            }
            &:nth-child(3n + 1) {
                margin-left: 0;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .inner-wrap {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 792px) {
}
