@import "./mixins.scss";
@import "./variables.scss";

.no-result-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: toRem(100) toRem(30);
	margin-top: $article-space-between;

	.icon {
		display: block;
		font-size: toRem(120);
	}
	.heading {
		font-size: toRem(42);
		line-height: 1.4;
		margin-bottom: toRem(20);
	}
	.description {
		font-size: toRem(18);
		line-height: 1.8;
	}
}

@media screen and (max-width: 600px) {
	.no-result-found {
		.icon {
			font-size: toRem(100);
		}
		.heading {
			font-size: toRem(32);
		}
	}
}

@media screen and (max-width: 480px) {
	.no-result-found {
		.icon {
			font-size: toRem(80);
		}
		.heading {
			font-size: toRem(28);
		}
		.description {
			font-size: toRem(16);
		}
	}
}